<!--  
@author Mohamad Abu Ali <arabian@brasnet.org>
@author Thiago R. M. Bitencourt <thiago.mbitencourt@gmail.com>
-->
<div class="modal-header modal-header-default modal-header-primary">
    <button type="button" class="close" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><span class="glyphicon glyphicon-question-sign"></span> Ajuda</h4>
</div>
<div class="modal-body">
    <h2 class="text-center">AJUDA.</h2>
    <br/>
    <h4 class="text-center">Texto da Ajuda AQUI.</h4>
</div>
 <div class="modal-footer">
	<button class="btn btn-primary" ng-click="close()">Fechar</button>
</div>