<!--  
@author Mohamad Abu Ali <arabian@brasnet.org>
@author Thiago R. M. Bitencourt <thiago.mbitencourt@gmail.com>
-->
<div class="modal-header modal-header-default modal-header-primary">
    <button type="button" class="close" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><span class="glyphicon glyphicon-question-sign"></span> Ajuda</h4>
</div>
<div class="modal-body">
    <h2 class="text-center">AJUDA.</h2>
    <br/>
    <h4 class="text-center">Texto da Ajuda AQUI.</h4>
    
    <strong>Exemplos de Arquivos</strong>
	<br>
	<a href="exemplos/Exemplo01_PontosdeControleEmS1eS2.txt" download>Exemplo01_PontosdeControleEmS1eS2.txt</a>
	<br>
	<a href="exemplos/Exemplo02_PontosdeControleEmS1eS2.txt" download>Exemplo02_PontosdeControleEmS1eS2.txt</a>
	<br>
	<a href="exemplos/Exemplo01_PontosaTransformarEmS1.txt" download>Exemplo01_Pontos aTransformarEmS1.txt</a>
	<br>
	<a href="exemplos/Exemplo02_PontosaTransformarEmS1.txt" download>Exemplo02_Pontos aTransformarEmS1.txt</a>
	<br>
	<a href="exemplos/Exemplo_ResultadoREFS2_01012015_115959.txt" download>Exemplo_ResultadoREFS2_01012015_115959.txt</a>
	<br>
</div>
 <div class="modal-footer">
	<button class="btn btn-primary" ng-click="close()">Fechar</button>
</div>