<!--  
@author Mohamad Abu Ali <arabian@brasnet.org>
@author Thiago R. M. Bitencourt <thiago.mbitencourt@gmail.com>

Janela MODAL que apresenta os erros do sistema para o usuário. Os principais erros apresentação são de leitura dos arquivos. 
Para mais informações dos formato adequado dos arquivos, consulte a página wiki do sistema. Disponível em: http://wiki.celtab.org.br/index.php/Gerci
-->
<div class="modal-header modal-header-default modal-header-danger">
    <button type="button" class="close" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><span class="glyphicon glyphicon-warning-sign"></span> Erro</h4>
</div>
<div class="modal-body">
    <h2 class="text-center">Erro encontrado ao processar os dados.</h2>
    <br/>
    <h4 class="text-center">{{message}}</h4>
</div>
 <div class="modal-footer">
	<button class="btn btn-danger" ng-click="close()">Fechar</button>
</div>