<!--  
@author Mohamad Abu Ali <arabian@brasnet.org>
@author Thiago R. M. Bitencourt <thiago.mbitencourt@gmail.com>
-->
<div class="modal-header modal-header-default modal-header-success">
    <button type="button" class="close" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><span class="glyphicon glyphicon-info-sign"></span> Sobre</h4>
</div>
<div class="modal-body">
	<div class="container-fluid">
		<div class="wrapper">
			<h2 class="text-center">GERCI - Gerênciador de Coordendas Itaipu</h2>
								
			<strong>Introdução</strong>
			<p class="text-justify">O projeto GERCI, em um primeito momento, tem como objetivo oferecer uma plataforma de serviços para a transformação de coordenadas. O celtab, baseado em um algorítmo de transformação já existente, fez a adaptação do código para atuar como um serviço RESTful para realizar as transformações. O celtab também desenvolveu um protótipo WEB para validar a utilização da plataforma, oferecendo uma ferramenta inicial para que usuários pudessem utilizar o serviço.</p>
			<strong>Plataforma de serviço</strong>
			<p class="text-justify">Inicialmente, foi apresentado ao celtab um sistema Desktop baseado em tecnologia JAVA que implementa um algoritmo de transformação. Baseado neste mesmo sistema, os pesquisadores do celtab isolaram o algoritmo responsável pela transformação, extraindo apenas o necessário do sistema desktop e que é possível de ser incorporado em outras soluções.</p>

			<hr>
			
			<p>Mais informações e documentações encontra-se na <a href="http://wiki.celtab.org.br/index.php/Gerci">wiki</a> do <a href="http://www.celtab.org.br/">Celtab</a></p>
			<p>Celtab - Centro Latino-Americano de Tecnologias Abertas (<a href="mailto:celtab@pti.org.br">celtab@pti.org.br</a>)</p>
			<p>Mohamad Abu Ali (<a href="arabian@brasnet.org">arabian@brasnet.org</a>, <a href="mohamad.a@pti.org.br">mohamad.a@pti.org.br</a>)</p>
			<p>Thiago R. M. Bitencourt (<a href="thiago.mbitencourt@gmail.com">thiago.mbitencourt@gmail.com</a>, <a href="thiago.mb@pti.org.br">thiago.mb@pti.org.br</a>)</p>
		
		</div>
	</div>
</div>
 <div class="modal-footer">
	<button class="btn btn-success" ng-click="close()">Fechar</button>
</div>